@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'holakirr-snow-ui/index.css';

body {
	cursor: url('../public/Cursor.svg'), auto;
}

button,
a {
	cursor: url('../public/CursorHover.svg'), auto;
}

@media print {
	@page {
		size: A4;
		margin: 0;
		padding: 0;
	}
}
