@import '@holakirr/snow-ui/index.css';
@import 'tailwindcss';

@theme inline {
	--shadow-paper: 0 40px 120px rgba(15, 23, 42, 0.38);
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
		color: var(--color-gray-500, currentcolor);
	}
}

/* body {
	cursor: url('../public/Cursor.svg'), auto;
}

button,
a {
	cursor: url('../public/CursorHover.svg'), auto;
} */

@media print {
	@page {
		size: A4;
		margin: 0;
		padding: 0;
	}
}
